 #map { 
   width: 100%; 
   height: 350px; 
   border: 2px solid #ddd;
  border-radius: 8px;
 }

.col-md-4 {
    height: 370px;  
}

#mapRegistro {
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 10px;
}

.leaflet-container {
  width: 100% ;
  height: 100% ;
}

#tituloMapa {
  background-color: rgb(21, 86, 64);
  text-align: center;
  color: azure;
  
}